## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json

## VS / Rider
.vs/
.idea/
*.rsuser
*.sln.iml

## User secrets
**/appsettings.Development.json

## OS
.DS_Store
Thumbs.db

## Docker
docker-compose.override.yml
